@mixin list ($type) {
    display: $type;
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin centeredFlex ($type) {
    display: $type;
    align-items: center;
    justify-content: center;
}