.contacts-footer {
    margin-right: 70px;

    &__studio {
        color: $color-backround;
    }
    &__title {
        margin-bottom: 20px;
        display: block;
    
        font-family: $font-raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    
        text-decoration: none;
        color: $color-hover;
    }
    &__streat {
        font-family: $font-roboto;
        font-style: normal;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
    
        color: $color-backround;
    }

    &__contacts {
        display: block;

        font-family: $font-roboto;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
        
        text-decoration: none;
        color: rgba(255, 255, 255, 0.6);
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__contacts:hover{
        color: $color-hover;
    }

    &__streat , &__contacts {
        margin-bottom: 9px;
    }

    &__contacts:last-child {
        margin-bottom: 0;
    }
}