.cards {
    padding-top: 94px;
    padding-bottom: 94px;
    @extend %container;
}

.list-skills {
    @extend %list;

    &__item::before {
        display: block;
        content: "";
        margin: 0 auto;
        height: 120px;
        width: 270px;
      
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      
        background-color: #f5f4fa;
        border-radius: 4px;
    }

    &__item + &__item {
        margin-left: 30px;
    }
    
    &--antenna::before {
        background-image: url(../../images/icon/svg/antenna.svg);
        @extend %background-images;
        background-size: 65.32px 70px;
    }
    &--clock::before {
        background-image: url(../../images/icon/svg/clock.svg);
        @extend %background-images;
        background-size: 66.96px 70px;
    }
    &--diagram::before {
        background-image: url(../../images/icon/svg/diagram.svg);
        @extend %background-images;
        background-size: 53.69px 70px;
    }
    &--astronaut::before {
        background-image: url(../../images/icon/svg/astronaut.svg);
        @extend %background-images;
        background-size: 70px 70px;
    }

    &__logo {
        margin-top: 30px;
        margin-bottom: 10px;

        font-family: $font-roboto;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: $letter-spacing;

        color: #212121;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
      
        font-family: $font-roboto;
        font-size: 14px;
        line-height: 1.714;
        letter-spacing: 0.03em;
      
        color: #757575;
    }
}
 
$icon: "antenna" , "clock" ,"diagram" , "astronaut";

@each $iconName in $icon {
    .icon-#{$iconName} {
        background-image: url(../images/icon/svg/#{$iconName}.svg);
    }
}
