.join-text {
    margin-bottom: 20px;

    font-family: $font-roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1428;
    letter-spacing: 0.03em;

    color: $color-backround;
}
.list-footer {
    @extend %list;
    gap: 10px;
    .list-svg__link--footer {
        fill: #fff;
        border-radius: 50%;
        background-color: #ffffff1a;
    }
}

  