/* button send */
.button-send {
    width: 200px;
    height: 50px;
    
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    
    border-color: transparent;
    border-radius: 4px;
    
    background-color: #188ce8;
    color: $color-backround;
    
    cursor: pointer;
}
    
.close {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;

    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #0000001a;
    background-color: $color-backround;

    &:hover ,
    &:focus {
        fill: $color-hover;
    }

    &__close {
        width: 11px;
        height: 11px;
    }
}


