.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
  
    &__link {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;
    
        font-family: $font-roboto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1428;
        letter-spacing: 0.02em;
    
        text-decoration: none;
        color: #757575;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover {
        color: $color-hover;
    }

    &__link + &__link {
        margin-left: 50px;
    }
    
    &__mail ,&__tel {
        margin-right: 10px;
        fill: currentColor;
    }
}




