.overlay {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
  
    text-align: center;
  
    max-width: 1600px;
    height: 600px;
  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/overley/hiro.jpg);
    background-color: #2f303a;

    &__title {
        width: 696px;
        height: 120px;
      
        margin-top: 0;
        margin: auto;
        margin-bottom: 30px;
        text-align: center;
      
        font-family: $font-roboto;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
      
        color: $color-backround;
    }
    &__button {
        position: relative;

        display: inline-block;
        min-width: 216px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;

        font-family: $font-roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.875;
        letter-spacing: 0.06em;

        border-radius: 4px;
        border-color: transparent;
        color: $color-backround;
        background: $color-hover;
        cursor: pointer; 
    }
}