%list {
    display: flex;
    padding: 0;
    margin: 0;

    list-style: none;    
}


%container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  
    padding-left: 15px;
    padding-right: 15px;
}

%background-images {
    background-position: center;
    background-repeat: no-repeat;
}